<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380367829416-n1bvm1v72neqf3goostvh3vr7f7ll3jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380367829416-n1bvm1v72neqf3goostvh3vr7f7ll3jl</string>
	<key>API_KEY</key>
	<string>AIzaSyDs4kVSbTUC2Tbecc9GPd_XfsuKlEeBwzY</string>
	<key>GCM_SENDER_ID</key>
	<string>380367829416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yu-Wang.driver-api</string>
	<key>PROJECT_ID</key>
	<string>ywber-17952</string>
	<key>STORAGE_BUCKET</key>
	<string>ywber-17952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380367829416:ios:9bec264c781079e37cc59d</string>
</dict>
</plist>